<div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">S90</h1>
            </div>
            <h3>Welcome to S90</h3>
            <p>Sign up. To see it in action.</p>
            <!-- <form class="m-t" role="form" action="#"> -->
                <%= form_for(resource, as: resource_name, url: user_registration_path()) do |f| %>
                  <%= devise_error_messages! %>
                  <div class="form-group">
                      <!-- <input type="email" class="form-control" placeholder="Username" required=""> -->
                      <%= f.email_field :email, autofocus: true, placeholder: "Email",class: "form-control" %>
                  </div>
                  <div class="form-group">
                      <!-- <input type="password" class="form-control" placeholder="Password" required=""> -->
                      <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
                  </div>
                  <div class="form-group">
                      <!-- <input type="email" class="form-control" placeholder="Username" required=""> -->
                      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password Confirmation" %>
                      <%= f.hidden_field :role_id, value: 5%>
                  </div>
                  <div class="form-group">
                      <%= f.text_field :username, placeholder: "Username",class: "form-control" %>
                  </div>
                  <div class="form-group">
                      <%= f.text_field :first_name, placeholder: "First name",class: "form-control" %>
                  </div>
                  <div class="form-group">
                      <%= f.text_field :last_name, placeholder: "Last name",class: "form-control" %>
                  </div>
                  <%= f.fields_for Organization.new do |ff| %>
                    <div class="form-group">
                        <%= ff.text_field :name, placeholder: "Organizatioin name",class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= ff.text_area :address, placeholder: "Address",class: "form-control" %>
                    </div>
                  <%end%>
                  <!-- <button type="submit" class="btn btn-primary block full-width m-b">Login</button> -->
                  <%= f.submit "Sign Up", class: "btn btn-primary block full-width m-b" %>
                <%end%>
            <!-- </form> -->
        </div>
    </div>