<%= form_for @task, url: tasks_path , method: "post", validate: true , html: {class: "form-horizontal"} do |f| %>
  <div class="form-group"><label class="col-lg-2 control-label">Description</label>
    <div class="col-lg-10">
      <%= f.text_area :description , placeholder: "Enter description", class: "form-control" %>
    </div>
  </div>
  <div class="form-group"><label class="col-lg-2 control-label">Status</label>
    <div class="col-lg-10">
      <%= f.select :status, options_for_select([["New","New"],["In-Progress","In-Progress"],["Completed","Completed"]]), { prompt: "Select status" }, class: "form-control" %>
    </div>
  </div>
  <div class="form-group"><label class="col-lg-2 control-label">Assigned To</label>
    <div class="col-lg-10">
      <%= f.collection_select :assigned_to_id, @current_org_users, :id, :fullname, { prompt: 'Select user' }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Due Date</label>
    <div class="col-lg-10">
      <div class="input-group m-b"><span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span> 
        <%= f.text_field :due_date, autocomplete: :off, class: "datepicker form-control", value: f.object.due_date ? f.object.due_date.strftime("%m/%d/%Y") : nil %>
     </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Completed On</label>
    <div class="col-lg-10">
      <div class="input-group m-b"><span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>  
        <%= f.text_field :completion_date, autocomplete: :off, class: "datepicker form-control", value: f.object.completion_date ? f.object.completion_date.strftime("%m/%d/%Y") : nil%>
     </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Time On</label>
    <div class="col-lg-9">
      <%= f.number_field :actual_hours, class: "form-control", placeholder: "Enter actual hours", min: 0, max: "999.99", step: 0.01 %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Progress</label>
    <div class="col-lg-9">
      <%= f.number_field :progress, class: "form-control", placeholder: "Enter progress %", min: 0, max: 100, step: 0.01 %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Tag</label>
    <div class="col-lg-9">
      <%= f.text_field :tag_list, class: "form-control", placeholder: 'Enter tags seprated by ","' ,value: f.object.tag_list.to_s %>
    </div>
  </div>
  <%= f.hidden_field :organization_id, value: current_user.organization.id %>
  <%= f.hidden_field :task_type, value: "Manual Entry" %>
  <%= f.hidden_field :requestor_id, value: current_user.id %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit class: "btn btn-sm btn-primary" %>
    </div>
  </div>
<% end %>
