<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Tasks</h2>
      <ol class="breadcrumb">
        <li>
          <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
        </li>
        <li>
        	<%= link_to "Tasks", tasks_path %>
        </li>
        <li class="active">
          <strong>
            <%= link_to "Task", task_path(@task.id) %>
          </strong>
        </li>
    	</ol>
		</div>
	<div class="col-lg-2">
	</div>
</div>

<div class="row">
<div class="col-lg-9">
<div class="wrapper wrapper-content animated fadeInUp">
<div class="ibox">
<div class="ibox-content">
<div class="row">
    <div class="col-lg-12">
        <div class="m-b-md">
            <h2><%= @task.description.truncate(40) %></h2>
        </div>
        <dl class="dl-horizontal status-dl">
            <dt>Status:</dt>
            <dd><span class="label label-primary"><%=@task.status%></span></dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <dl class="dl-horizontal">

            <dt>Requested by:</dt>
            <% user = task_user(@task.requestor_id) %>
            <dd class="project-people">
            	<%= image_tag user.avatar.url, class: "img-circle" %><br>
            	<%= user.fullname %>
            </dd>
            <%if @task.assigned_to_id.present?%>
            <dt>Assigned to:</dt>
            <% assigned_user = task_user(@task.assigned_to_id) %>
            <dd class="project-people">
            	<%= image_tag assigned_user.avatar.url, class: "img-circle" %><br>
            	<%= assigned_user.fullname %>
            </dd>
            <%end%>
            <dt>Time on:</dt>
            <dd><%= @task.actual_hours%>h </dd>
        </dl>
    </div>
    <div class="col-lg-7" id="cluster_info">
        <dl class="dl-horizontal">

            <dt>Due Date:</dt>
            <dd><%= @task.due_date.strftime("%m-%d-%Y") %></dd>
            <dt>Created On:</dt>
            <dd><%= @task.created_at.to_date.strftime("%m-%d-%Y") %></dd>
            <%if @task.completion_date.present?%>
            <dt>Completed On:</dt>
            <dd><%= @task.completion_date.to_date.strftime("%m-%d-%Y") %></dd>
            <%end%>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <dl class="dl-horizontal">
            <dt>Completed:</dt>
            <dd>
                <div class="slide-bar">
                	<input type="text" id="progress-slider" name="example_name" value="" data-task-id="<%= @task.id %>" data-progress="<%= @task.progress %>"/>
                </div>
                <div class="progress-text">
                    <small><strong><%= @task.progress.to_i %>%</strong> of this task has been completed.</small>
                </div>
                <br>                
                <div class="checkbox-task-show">
                </div>
            </dd>
        </dl>
    </div>
</div>
<div class="row m-t-sm">
<div class="col-lg-12">
<div class="panel blank-panel">
<div class="panel-heading">
    <div class="panel-options">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-2" data-toggle="tab">Activity</a></li>
        </ul>
    </div>
</div>

<div class="panel-body">

<div class="tab-content">
<div class="tab-pane active" id="tab-2">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Description</th>
            <th>Activity Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Hours</th>
            <th>Created By</th>
            <th>Created At</th>
            <th>Modified By</th>
            <th>Modified At</th>
        </tr>
        </thead>
        <% @activities.each do |activity| %>
        <tbody>
        <tr>
            <td>
                <%= activity.description %>
            </td>
            <td>
                <%= activity.activity_date %>
            </td>
            <td>
                <%= activity.start_time %>
            </td>
            <td>
                <%= activity.end_time %>
            </td>
            <td>
                <%= activity.hours %>
            </td>
            <td>
              <% user = task_user(activity.created_by_user_id) %>
              <%= user.fullname %>
            </td>
            <td>
                <%= activity.created_at.to_date.strftime("%m-%d-%Y") %>
            </td>
            <td>
              <% modifier = task_user(activity.updated_by_user_id) %>
              <%= modifier.fullname %>
            </td>
            <td>
              <%= activity.updated_at.to_date.strftime("%m-%d-%Y") %>
            </td>
        </tr>
        </tbody>
        <%end%>
    </table>
</div>
</div>

</div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-3">
    <div class="wrapper wrapper-content project-manager">
        <%if @task.task_type == "SP" %>
        <h4>Objective description</h4>
        <p class="small">
          <%= @task.objective.description %>   
        </p>
        <h4>Strategy description</h4>
        <p class="small">
          <%= @task.strategy.description %>
        </p>
        <%end%>
        <h4>Task description</h4>
        <p class="small">
          <%= @task.description %>
        </p>
        <%if @tags.present?%>
          <h5>Task tag</h5>
          <% @tags.each do |tag| %>
            <ul class="tag-list" style="padding: 0">
              <li><a href="#"><i class="fa fa-tag"></i><%= tag.name %></a></li>
            </ul>
          <%end%>
        <%end%>
        <h5>Task files</h5>
        <%@assets.each do |asset|%>
          <ul class="list-unstyled project-files">
            <li>
              <%= link_to download_asset_assets_path(id: asset.id) do %>
                <i class="fa fa-file"></i> 
                <%= asset.title %> 
              <%end%>
            </li>
          </ul>
        <%end%>
        <div class="text-center m-t-md">
            <a data-toggle="modal" data-id="<%= @task.id%>" href="#task-attachment-modal-form" class="btn btn-xs btn-primary asset-task-link">Add files
            </a>
        </div>
    </div>
</div>
</div>
<!-- tactic assets pop up -->
<div id="task-attachment-modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="row">
                <div class="col-sm-6"><h3 class="m-t-none m-b">Task Files</h3>
                </div>
              </div>
              <div class="row modal-task-attach-form"> 
              </div>              
            </div>
        </div>
    </div>
</div>
<!-- end -->