<%= form_for objective, url: plan_division_department_area_goal_objective_path(id: objective.id, plan_id: plan.id, division_id: division.id, department_id: department.id, area_id: area.id, goal_id: goal.id), method: "put", html: {class: "form-horizontal", multipart: true} do |f| %>
	<div class="form-group">
    <%= f.fields_for :assets do |ff| %>
      <%= render partial: 'asset_fields', locals: { f: ff } %>
    <% end %>
    <div class='col-lg-offset-2'>
      <%= link_to_add_association ' Add Fields ', f, :assets, class: "fa fa-plus", style: "color: grey;" %>
  	</div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Submit Asset",class: "btn btn-sm btn-primary" %>
    </div>
  </div>                        
<% end %>