<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Objectives</h2>
        <ol class="breadcrumb">
          <li>
            <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
          </li>
          <li>
            <%= link_to "Strategic Plan", strategic_plan_path %>
          </li>
          <li>
            <a href="/strategic_plan/plans/<%=@plan.id%>"><%= @plan.name.titleize %></a>
          </li>
          <li>
            <%= link_to "#{@division.name.titleize}", plan_division_path(plan_id: @plan.id, id: @division.id)%>
          </li>
          <li>
            <%= link_to "#{@department.name.titleize}", plan_division_department_path(plan_id: @plan.id, division_id: @division.id, id: @department.id)%>
          </li>
          <li>
            <%= link_to "#{@area.description.titleize}", plan_division_department_area_path(plan_id: @plan.id, division_id: @division.id, department_id: @department.id, id: @area.id) %>
          </li>
          <li>
              <a href="/strategic_plan/plans/<%=@plan.id%>/divisions/<%=@division.id%>/departments/<%=@department.id%>/areas/<%=@area.id%>"><%= @goal.description.titleize %></a>
          </li>
          <li class="active">
            <strong>
              <%= link_to "Objectives", plan_division_department_area_goal_objectives_path %>
            </strong>
          </li>
        </ol>
    </div>
<div class="col-lg-2">
</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <%= render 'form' %>
  </div>
</div>