<% if flash[:notice] %>
          <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
  <% if flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Objectives</h2>
        <ol class="breadcrumb">
          <li>
            <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
          </li>
          <li>
            <%= link_to "Strategic Plan", strategic_plan_path %>
          </li>
          <li>
            <a href="/strategic_plan/plans/<%=@plan.id%>"><%= @plan.name.titleize %></a>
          </li>
          <li>
            <%= link_to "#{@division.name.titleize}", plan_division_path(plan_id: @plan.id, id: @division.id)%>
          </li>
          
          <li>
            <%= link_to "#{@area.description.titleize.truncate(25)}", plan_division_area_path(plan_id: @plan.id, division_id: @division.id, id: @area.id) %>
          </li>
          <li>
              <a href="/strategic_plan/plans/<%=@plan.id%>/divisions/<%=@division.id%>/areas/<%=@area.id%>"><%= @goal.description.titleize.truncate(25) %></a>
          </li>
          <li class="active">
            <strong>
              <%= link_to "Objectives", plan_division_area_goal_objectives_path %>
            </strong>
          </li>
        </ol>
    </div>
<div class="col-lg-2">
</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-1">
    </div>
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Selected Goal</h5>
                  <div class="ibox-tools">
                  </div>
              </div>
              <div class="ibox-content">
                <label>Goal: </label> <%= @goal.description.titleize %>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Objectives </h5>
                <div class="ibox-tools">
                    <a data-toggle="modal" class="btn btn-sm btn-white" style="color:grey;" href="#modal-form">New Objective</a>
                </div>
            </div>
            <div class="ibox-content">

                <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Status</th>
                      <th>Description</th>
                      <th>Requested By Date</th>
                      <th class="space-manage">Target Date</th>
                      <th>Actual Hours</th>
                      <th>Budget Hours</th>
                      <th class="space-td">Budget Dollars</th>
                      <th>% Complete</th>
                      <th>Owner</th>
                      <th class="space-manage">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                      <% @objectives.each do |objective| %>
                        <tr>
                          <td><span class="line"><%= objective.number %></span></td>
                          <td>
                            <a data-toggle="modal" data-objective-id="<%= objective.id%>" data-plan-id="<%= @plan.id%>" data-division-id="<%= @division.id%>" data-area-id="<%= @area.id%>" data-goal-id="<%= @goal.id%>" href="#objective-status-modal" class="obj-status-modal">
                              <i class="fa <%= on_going_carry_forward_icons(objective.on_going_carry_forward) %>"></i>
                            </a>
                            <% if objective.assets.present?%>
                              <a data-toggle="modal" data-objective-id="<%= objective.id%>" data-plan-id="<%= @plan.id%>" data-division-id="<%= @division.id%>" data-area-id="<%= @area.id%>" data-goal-id="<%= @goal.id%>" href="#obj-attachments-form" class="asset-obj-all">
                                <i class="fa fa-paperclip" aria-hidden="true"></i>
                              </a> 
                            <%end%>
                          </td>
                          <td><%= link_to "#{objective.description}", plan_division_area_goal_objective_strategies_path(objective_id: objective.id, goal_id: @goal.id, area_id: @area.id, division_id: @division.id, plan_id: @plan.id) %></td>
                          <td><%= objective.requested_by_date ? objective.requested_by_date.strftime("%m-%d-%Y") : "" %></td>
                          <td><%= objective.end_on ? objective.end_on.strftime("%m-%d-%Y") : "" %></td>
                          <td><%= objective.actual_hours%></td>
                          <td><%= objective.totalhours%></td>
                          <td class="value-manage"><%= objective.budgeted_dollars.round.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%>
                            
                          </td>
                          <% overdue_passed = objective.tactics.where("tactics.end_on < (?) AND tactics.percent_of_strategy < (?)", Date.today, 100) %> 
                          <td>
                            <%if overdue_passed.count > 0 %>
                            <div class="progress">
                              <div class="progress-bar-text-objective"> <%= objective.percent_complete.to_i%>%</div>
                              <div class="progress-bar bg-success" role="progressbar" style="width: <%=objective.percent_complete.to_i%>%" aria-valuenow="<%= objective.percent_complete%>" aria-valuemin="0" aria-valuemax="100">
                              </div>
                              <%remaining_percent = 100 - objective.percent_complete.to_i %>
                              <div class="progress-bar bg-yellow" role="progressbar" style="width: <%= remaining_percent%>%" aria-valuenow="<%= remaining_percent%>" aria-valuemin="0" aria-valuemax="100">
                              </div>
                            </div>
                            <%else%>
                              <div class="progress">
                                <div class="progress-bar-text-objective"> <%= objective.percent_complete.to_i%>%</div>
                                <div class="progress-bar bg-success" role="progressbar" style="width: <%= objective.percent_complete.to_i%>%" aria-valuenow="<%= objective.percent_complete %>" aria-valuemin="0" aria-valuemax="100">
                                </div>
                              </div>
                            <%end%>
                          </td>
                          <td><%=objective_owner_name(objective)%></td>
                          <td>
                            <a data-toggle="modal" data-objective-id="<%= objective.id%>" href="#user-assign-modal-form" class="user-assign-link space-margin">
                              <i class="fa fa-user"></i>
                            </a> &nbsp&nbsp
                            <a data-toggle="modal" data-objective-id="<%= objective.id%>" href="#team-assign-modal-form" class="team-assign-link">
                              <i class="fa fa-users"></i>
                            </a>
                            <a data-toggle="modal" data-objective-id="<%= objective.id%>" data-plan-id="<%= @plan.id%>" data-division-id="<%= @division.id%>" data-area-id="<%= @area.id%>" data-goal-id="<%= @goal.id%>" href="#obj-attachment-modal-form" class="asset-obj-link">
                              <i class="fa fa-paperclip" aria-hidden="true"></i>
                            </a> 
                            <a data-toggle="modal" data-objective-id="<%= objective.id%>" data-plan-id="<%= @plan.id%>" data-division-id="<%= @division.id%>" data-area-id="<%= @area.id%>" data-goal-id="<%= @goal.id%>"href="#edit-modal-form" class="edit-objective-link">
                              <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <%= link_to plan_division_area_goal_objective_path(id: objective.id), data: { confirm: 'Are you sure?' }, method: :delete do %>
                              <i class="fa fa-remove"></i> 
                            <%end%>
                          </td>
                        </tr>                    
                      <%end%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- New objective pop up -->
<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= render 'form' %>
            </div>
        </div>
    </div>
</div>
<!-- end -->

<!-- Objective assets pop up -->
<div id="obj-attachment-modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="row">
                <div class="col-sm-6"><h3 class="m-t-none m-b">Objective Files</h3>
                </div>
              </div>
              <div class="row modal-obj-attach-form"> 
              </div>              
            </div>
        </div>
    </div>
</div>
<!-- end -->


<!-- Objective assets all -->
<div id="obj-attachments-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="row">
                <div class="col-sm-6"><h3 class="m-t-none m-b">Objective Files</h3>
                </div>
              </div>
              <div class="row modal-obj-attachments"> 

              </div>              
            </div>
        </div>
    </div>
</div>
<!-- end -->

<!-- user assign pop up -->
<div id="user-assign-modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="row">
                <div class="col-sm-6"><h3 class="m-t-none m-b">Assign Member</h3>
                </div>
              </div>
              <div class="row">
                 <%= form_tag create_user_objective_path, class: "form-horizontal user-objective-form" do %>
                  <div class="form-group"><label class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                      <%= text_field_tag :search, params[:search], data: { autocomplete: autocomplete_user_name_path }, id: "user-name-autocomplete", class: "form-control" %>
                    </div>
                  </div> 
                  <%= hidden_field_tag :objective_id, nil ,class: "objective-hf" %>
                  <%= hidden_field_tag :user_id, nil ,class: "user-hf" %>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <%= submit_tag "Assign User", class: "btn btn-sm btn-primary" %>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="row">
                <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <h3>Members</h3>
                  </div>
                  <div class="ibox-content users-table-assign">
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>  
<!-- end -->

<!-- team assign pop up -->
<div id="team-assign-modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="row">
                <div class="col-sm-6"><h3 class="m-t-none m-b">Assign Team</h3>
                </div>
              </div>
              <div class="row">
                 <%= form_tag create_team_objective_path, remote: true, class: "form-horizontal" do %>
                  <div class="form-group"><label class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                      <%= text_field_tag :search, params[:search], data: { autocomplete: autocomplete_team_name_teams_path  }, id: "team-name-autocomplete", class: "form-control" %>
                    </div>
                  </div> 
                  <%= hidden_field_tag :objective_id, nil ,class: "obj-hf" %>
                  <%= hidden_field_tag :team_id, nil ,class: "team-hf" %>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <%= submit_tag "Assign Team", class: "btn btn-sm btn-primary" %>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="row">
                <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <h3>Teams</h3>
                  </div>
                  <div class="ibox-content teams-table-assign">
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<!-- end -->

<!-- Edit objective pop up -->
<div id="edit-modal-form" class="modal fade" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="row edit-form-view">
            </div>
      </div>
    </div>
  </div>
</div>
<!-- end pop up -->
<!-- Objective status pop up -->
<div id="objective-status-modal" class="modal fade" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="row objective-status-edit-view">
            </div>             
          </div>
      </div>
  </div>
</div>
<!-- end -->