<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Edit</h2>
      <ol class="breadcrumb">
        <li>
          <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
        </li>
        <li>
          <%= link_to "Users", members_path %>
        </li>
        <li class="active">
          <strong>
            <a>Edit</a>
          </strong>
        </li>
    </ol>
</div>
<div class="col-lg-2">
</div>
        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
  <div class="col-lg-1">
  </div>
    <div class="col-lg-10">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Members Edit</h5>
                <%= link_to members_path, style: "color:grey; float:right;" do %><i class="fa fa-remove"></i> 
                <%end%>
            </div>
            <div class="ibox-content">
                <div class="row">
                  <%= form_for @user, url: member_path, method: "put" do |f| %>
                    <div class="form-group">
                        <%= f.email_field :email, autofocus: true, placeholder: "Email",class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password (6 characters minimum)" %>
                    </div>
                    <div class="form-group">
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password Confirmation" %>
                    </div>
                    <div class="form-group">
                        <%= f.text_field :username, placeholder: "Username",class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.text_field :first_name, placeholder: "First name",class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.text_field :last_name, placeholder: "Last name",class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.text_field :job_title, placeholder: "Job title",class: "form-control" %>
                    </div>
                    <%= f.select(:role_id , options_for_select(@array_of_roles.map{ |u| [u.second, u.first] }, role_name.values_at(@user.role_id).to_s.gsub(/[^0-9 a-z]/i, '') ), {prompt: true  } , class: "form-control m-b")   %>
                    <%= f.collection_select :division_id, @user.organization.divisions, :id, :name, { prompt: 'Select division' }, { class: "form-control m-b division-select" } %>
                    <div class= "department-select">
                        <%= f.collection_select :department_id, @user.division.departments, :id, :name, { prompt: 'Select department' }, { class: "form-control m-b edit-department" } %>
                    </div>
                    <%= f.hidden_field :organization_id, value: current_user.organization.id%>
                    <div class="form-group">
                      <%= f.submit class: "btn btn-sm btn-primary pull-right m-t-n-xs" %>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>