<input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in table">
<table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
    <thead>
    <tr> 
        <th class="sort-remove"></th>
        <th>Status</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Progress</th>
        <th>Board</th>
        <th>Detail View</th>
        <% @tasks.each do |task| %>
          <% if task.activities.present? %>
            <% task.activities.each do |activity| %>
              <th data-hide="phone,tablet,desktop">Activity</th>
              <th data-hide="phone,tablet,desktop">Date</th>
              <th data-hide="phone,tablet,desktop">Description</th>
              <th data-hide="phone,tablet,desktop">Hours</th>
            <%end%>
          <%end%>
        <%end%>
    </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
            <td></td>
            <td><%= task.status %></td>
            <td><%= task.description %></td>
            <td><%= task.due_date.strftime("%m-%d-%Y") if task.due_date.present? %></td>
            <td><%= task.progress %>%</td>
            <td><%= select_tag('userboard', options_from_collection_for_select(@userboards, 'id', 'name', task.userboard_id), prompt: "Select Userboard", class: "form-control assign-userboard", data: {task_id: task.id}) %>
            </td>
            <td><%= link_to "View", task_path(id: task.id), class: "btn btn-white" %></td>
            <% if task.activities.present? %>
              <% task.activities.each do |activity| %>
                <td></td>
                <td><%= activity.activity_date.strftime("%m-%d-%Y") if activity.activity_date.present? %></td>
                <td><%= activity.description %></td>
                <td><%= activity.hours %></td>
              <%end%>
            <%end%>
        </tr>
      <%end%>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5">
            <ul class="pagination pull-right"></ul>
        </td>
    </tr>
    </tfoot>
</table>