<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Userboards</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
      </li>
      <li>
        <%= link_to "My Task", my_board_userboards_path %>
      </li>
      <li class="active">
        <strong>
          <%= link_to "Boards", my_board_userboards_path %>
        </strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Filter</h5>
              </div>
              <div class="ibox-content">
                <%= form_for userboards_path, method: "get", html: {class: "form-horizontal"} do |f| %>
                  <div class="form-group"><label class="col-lg-2 control-label">Status</label>
                    <div class="col-lg-3">
                      <%= f.select :status, options_for_select([["All","All"],["Not-Complete","Not-Complete"],["New","New"],["In-Progress","In-Progress"],["Completed","Completed"]], "Not-Complete"), {}, class: "form-control task-status" %>
                    </div>
                  </div>
                  <div class="form-group"><label class="col-lg-2 control-label">My Boards</label>
                    <div class="col-lg-4">
                      <% @userboards.each do |userboard| %>
                        <div class="btn btn-primary userboard-btn" style="background-color: <%=userboard.color%>; border: none;" data-userboard-id="<%= userboard.id%>"> <%= userboard.name %> </div>
                      <%end%>
                    </div>
                  </div>
                <% end %>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title tighten-spacing">
                  <h5>Tasks and Activities</h5>
              </div>
              <div class="ibox-content">
                  <div class="my-tasks-table"> 
                    <%= render partial: 'my_tasks_table', locals: { tasks: @tasks} %>    
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>