<div class="col-lg-1">
</div>
<div class="col-lg-10">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>New Goal</h5>
            <div class="ibox-tools">
            </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <%= form_for @goal, url: goals_path, method: "post", html: {class: "form-horizontal"} do |f| %>
              <div class="form-group">
                <label class="col-lg-2 control-label">Number</label>
                <div class="col-lg-9">
                  <%= f.number_field :number, class: "form-control", placeholder: "Enter number", min: 0, max: "9999999999" %>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Description</label>
                <div class="col-lg-9">
                  <%= f.text_field :description, class: "form-control", placeholder: "Enter description" %> 
                </div>
              </div>
                <%= f.hidden_field :area_id, class: "area-division-id" %>
                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                    <%= f.submit "Create Goal" ,class: "btn btn-sm btn-primary" %>
                  </div>
                </div>
            <% end %>
          </div>              
        </div>
    </div>
</div>
