<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Activities</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
        </li>
        <li class="active">
            <strong>
            <%= link_to "Activities", activities_path %>
            </strong>
        </li>
    </ol>
</div>
        </div>
<div class="wrapper wrapper-content">
<div class="row animated fadeInDown">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Draggable Tasks</h5>
                <div class="ibox-tools">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-filter"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <%= link_to "New", "#", data: {status: "New"}, class: "task-filter" %>
                        </li>
                        <li>
                            <%= link_to "In-Progress", "#", data: {status: "In-Progress"}, class: "task-filter"  %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ibox-content">
              <div class= "filtered-tasks">
                <div id='external-events'>
                    <p>Drag a task and drop into callendar.</p>
                      <% @tasks.each do |task| %>
                        <div class='external-event navy-bg' data-task-id="<%=task.id%>">
                          <%= task.description%>
                        </div>
                      <% end %>
                    <p class="m-t">
                        <input type='checkbox' id='drop-remove' class="i-checks" checked /> <label for='drop-remove'>remove after drop</label>
                    </p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Calendar </h5>
            </div>
            <div class="ibox-content">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Update activity pop up -->
<div id="activity-modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              
            </div>
        </div>
    </div>
</div>
<!-- end -->

<% content_for :javascript do %>

<script type="text/javascript">
    

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next',
        center: 'title',
        right: 'today'
      },
      editable: true,
      defaultView: 'agendaDay',
      droppable: true,
      forceEventDuration: true,
      drop: function() {
        if ($('#drop-remove').is(':checked')) {
          $(this).remove();
        }
        task_id = $(this).data("taskId")
      },
      eventRender: function(event, element) {
            console.log(event)
            console.log(element)
            element.bind('dblclick', function() {
              $('#activity-modal-form').modal('toggle');
            });
         },
      eventReceive: function(event) {
        var calendar_date, activity_date, start_time, end_time;
        calendar_date = event.start
        activity_date = calendar_date.toDate()
        start_time = activity_date
        end_time = event.end.toDate()
        return $.ajax({
          type: "POST",
          url: "/activities",
          data: {
            activity: {activity_date: activity_date, start_time: start_time, end_time: end_time, hours: "calculate", created_by_user_id: "<%= current_user.id %>", updated_by_user_id: "<%= current_user.id %>", updated_at: "<%= DateTime.now%>", task_id: task_id }
          }
        });
      },
      events: [
        <% @activities.each do |activity| %>
            {
              title: '<%= activity.description %>',
              <%if activity.activity_date.present? && activity.start_time.present? && activity.end_time.present? %>
                start: '<%= "#{activity.activity_date.strftime '%Y-%m-%d'}#{activity.start_time.strftime 'T%H:%M:%S'}" %>',
                end: '<%= "#{activity.activity_date.strftime '%Y-%m-%d'}#{activity.end_time.strftime 'T%H:%M:%S'}" %>',
              <%end%>
              task_id: <%= activity.task_id %>
            },
        <%end%>
      ]
    });
</script>

<% end %>