<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Activities</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
        </li>
        <li class="active">
            <strong>
            <%= link_to "Activities", activities_path %>
            </strong>
        </li>
    </ol>
</div>
        </div>
<div class="wrapper wrapper-content">
<div class="row animated fadeInDown">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Draggable Tasks</h5>
                <div class="ibox-tools">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-filter"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <%= link_to "New", "#", data: {status: "New"}, class: "task-filter" %>
                        </li>
                        <li>
                            <%= link_to "In-Progress", "#", data: {status: "In-Progress"}, class: "task-filter"  %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ibox-content">
              <div class= "filtered-tasks">
                <div id='external-events'>
                    <p>Drag a task and drop into callendar.</p>
                      <% @tasks.each do |task| %>
                        <div class='external-event navy-bg'>
                          <%= task.description%>
                        </div>
                      <% end %>
                    <p class="m-t">
                        <input type='checkbox' id='drop-remove' class="i-checks" checked /> <label for='drop-remove'>remove after drop</label>
                    </p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Calendar </h5>
            </div>
            <div class="ibox-content">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>
</div>


<% content_for :javascript do %>

<script type="text/javascript">
    var d, date, m, y;
    date = new Date;
    d = date.getDate();
    m = date.getMonth();
    y = date.getFullYear();

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next',
        center: 'title',
        right: 'today'
      },
      editable: true,
      defaultView: 'agendaDay',
      droppable: true,
      drop: function() {
        if ($('#drop-remove').is(':checked')) {
          $(this).remove();
        }
      },
      events: [
        <% @activities.each do |activity| %>
            {
              title: '<%= activity.description %>',
              <%if activity.activity_date.present? && activity.start_time.present? && activity.end_time.present? %>
                start: '<%= "#{activity.activity_date.strftime '%Y-%m-%d'}#{activity.start_time.strftime 'T%H:%M:%S'}" %>',
                end: '<%= "#{activity.activity_date.strftime '%Y-%m-%d'}#{activity.end_time.strftime 'T%H:%M:%S'}" %>'
              <%end%>
            }
        <%end%>
      ]
    });
</script>

<% end %>