<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Activities</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
        </li>
        <li class="active">
            <strong>
            <%= link_to "Activities", activities_path %>
            </strong>
        </li>
    </ol>
</div>
        </div>
<div class="wrapper wrapper-content">
<div class="row animated fadeInDown">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Draggable Tasks</h5>
                <div class="ibox-tools">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-filter"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <%= link_to "New", "#", data: {status: "New"}, class: "task-filter" %>
                        </li>
                        <li>
                            <%= link_to "In-Progress", "#", data: {status: "In-Progress"}, class: "task-filter"  %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ibox-content">
              <% @userboards.each do |userboard| %>
                <div class="btn btn-primary userboard-btn" style="background-color: <%=userboard.color%>; border: none; font-size: 12px;" data-userboard-id="<%= userboard.id%>"> <%= userboard.name %>
                </div>
              <%end%>
              <div class= "filtered-tasks">
                <div id='external-events'>
                    <p>Drag a task and drop into callendar.</p>
                      <% @tasks.each do |task| %>
                        <div class='external-event navy-bg' data-task-id="<%=task.id%>">
                          [<%= task.id%>]
                          <%= task.description%>
                        </div>
                      <% end %>
                    <p class="m-t">
                        <input type='checkbox' id='drop-remove' class="i-checks" checked /> <label for='drop-remove'>remove after drop</label>
                    </p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Calendar </h5>
            </div>
            <div class="ibox-content">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>
</div>

<div id="activity-edit-modal-wrapper"></div>

<% content_for :javascript do %>

<script type="text/javascript">
    

    window.full_calendar = $('#calendar').fullCalendar({
      header: {
        left: 'prev,next',
        center: 'title',
        right: 'today'
      },
      editable: true,
      defaultView: 'agendaDay',
      droppable: true,
      forceEventDuration: true,
      drop: function() {
        if ($('#drop-remove').is(':checked')) {
          $(this).remove();
        }
        task_id = $(this).data("taskId")
      },
      eventRender: function(event, element) {
        element.find(".fc-time").append("<span class='remove-activity' data-activity-id = "+event.activity_id+"><i class='fa fa-times' style='float: right;'></i></span>");
        element.bind('dblclick', function() {
          var id = event.activity_id;
          $.ajax({
            type: "GET",
            url: "/activities/"+id+"/edit",
            data: { id: id }
          });
        });
      },
      eventReceive: function(event) {
        var calendar_date, activity_date, start_time, end_time;
        calendar_date = event.start
        activity_date = calendar_date.toDate()
        start_time = activity_date
        end_time = event.end.toDate()
        $.ajax({
          type: "POST",
          url: "/activities",
          dataType: 'json',
          data: {
            activity: {activity_date: activity_date, start_time: start_time, end_time: end_time, hours: "calculate", created_by_user_id: "<%= current_user.id %>", updated_by_user_id: "<%= current_user.id %>", updated_at: "<%= DateTime.now%>", task_id: task_id }
          },
          success: function(data){
            source =  $('#calendar').fullCalendar( 'getEventSources' ).pop()
            extra_sources = $('#calendar').fullCalendar( 'getEventSources' )
            $('#calendar').fullCalendar( 'removeEventSources',  extra_sources)
            events = source.events
            events.push(data.activity)
            $('#calendar').fullCalendar('removeEvents');
            $('#calendar').fullCalendar('addEventSource', events);
            $('#calendar').fullCalendar('rerenderEvents' ); 
          }
        });
      },
      eventResize: function(event, delta, revertFunc) {
        var id, start_time, end_time;
        id = event.activity_id
        start_time = event.start.toDate()
        end_time = event.end.toDate()
        $.ajax({
          type: "PUT",
          url: "/activities/"+id,
          data: {
            activity: {start_time: start_time, end_time: end_time, hours: "calculate", updated_by_user_id: "<%= current_user.id %>" }
          }
        });
      },
      eventDrop: function(event, delta, revertFunc) {
        var id, start_time, end_time;
        id = event.activity_id
        start_time = event.start.toDate()
        end_time = event.end.toDate()
        $.ajax({
          type: "PUT",
          url: "/activities/"+id,
          data: {
            activity: {start_time: start_time, end_time: end_time, updated_by_user_id: "<%= current_user.id %>" }
          }
        });
      },
      events: [
        <% @activities.each do |activity| %>
            {
              title: '[<%=activity.task.id%>]<%= activity.description %>',
              <%if activity.activity_date.present? && activity.start_time.present? && activity.end_time.present? %>
                start: '<%= "#{activity.activity_date.strftime '%Y-%m-%d'}#{activity.start_time.strftime 'T%H:%M:%S'}" %>',
                end: '<%= "#{activity.activity_date.strftime '%Y-%m-%d'}#{activity.end_time.strftime 'T%H:%M:%S'}" %>',
              <%end%>
              task_id: <%= activity.task_id%>,
              activity_id: <%= activity.id %>
              
            },
        <%end%>
      ]
    });
    $(document).on('click', ".remove-activity", function() {
      var result = confirm("Are you sure you want to delete this activity?");
      if (result == true) {
        var id = $(this).data('activityId')
        $.ajax({
          type: "DELETE",
          url: "/activities/"+id,
          dataType: 'json',
          data: { id: id }
          ,
          success: function(data){
            source =  $('#calendar').fullCalendar( 'getEventSources' ).pop()
            events = source.events
            var result = $.grep(events, function(e){ return e.activity_id == data.id; });
            deleted_event = result.pop()
            events.splice( $.inArray(deleted_event, events), 1 );
            $('#calendar').fullCalendar('removeEvents');
            $('#calendar').fullCalendar('addEventSource', events);
            $('#calendar').fullCalendar('rerenderEvents' );
          }       
        });
      }
    });
</script>

<% end %>