<%= form_for (@plan), html: {class: "form-horizontal"} do |f| %>
  <div class="form-group"><label class="col-lg-2 control-label">Name</label>
    <div class="col-lg-10">
      <%= f.text_field :name , placeholder: "Enter name", class: "form-control" %>
      <%= f.hidden_field :organization_id, value: current_user.organization.id %>
    </div>
  </div>
  <div class="form-group"><label class="col-lg-2 control-label">Fiscal Year</label>
    <div class="col-lg-10">
      <%= f.select :fiscal_year, options_for_select((Date.today.year - 1)..(Date.today.year + 20)), { prompt: "Select year" }, class: "form-control" %>
    </div>
  </div>
  <div class="form-group"><label class="col-lg-2 control-label">Status</label>
    <div class="col-lg-10">
      <%= f.select :status, options_for_select([["Active","active"],["Completed","completed"],["Inactive","inactive"]]), { prompt: "Select status" }, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Date Begin </label>
    <div class="col-lg-10">
      <div class="input-group m-b"><span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span> 
        <%= f.text_field :begin_on, autocomplete: :off, class: "datepicker form-control", value: f.object.begin_on ? f.object.begin_on.strftime("%m/%d/%Y") : nil %>
     </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Date End </label>
    <div class="col-lg-10">
      <div class="input-group m-b"><span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>  
        <%= f.text_field :end_on, autocomplete: :off, class: "datepicker form-control", value: f.object.end_on ? f.object.end_on.strftime("%m/%d/%Y") : nil%>
     </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit class: "btn btn-sm btn-primary" %>
    </div>
  </div>
<% end %>
